useDynLib(siar)

export(
"siarmenu",
"bayesMVN",
"bayestwoNorm",
"convexhull",
"hullarea",
"laymanmetrics",
"overlap",
"panelhist",
"panelcor",
"panelcontour",
"plotSigmaEllipse",
"popSEA",
"newgraphwindow",
"siardemo",
"siardensityplot",
"siarhdrs",
"siarhistograms",
"siarmatrixplot",
"siarmcmcdirichletv4",
"siarsinglegrouprun",
"siarmultigrouprun",
"siarproportionbysourceplot",
"siarproportionbygroupplot",
"siarsaveoutput",
"siarloaddata",
"siaraddcross",
"siarplotdata",
"siarplottarget",
"siarplotdatawrapper",
"siarsolosinglegrouprun",
"siarsolomultigrouprun",
"siarsolomcmcv4",
"siarelicit",
"siber.ellipses",
"siber.hull.metrics",
"standard.ellipse"
)
